// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: if($variant == "dark", #2b303b, #c0c5ce);
$fg_color: if($variant == "dark", #a7adba, #343d46);
$base_color: if($variant == "dark", #2b303b, #eff1f5);
$text_color: if($variant == "dark", #c0c5ce, #2b303b);
$selected_bg_color: #bf616a;
$selected_fg_color: #eff1f5;
$tooltip_bg_color: #2b303b;
$tooltip_fg_color: #c0c5ce;

// dark colors
$dark_bg_color: #2b303b;
$dark_fg_color: #c0c5ce;

// shadows
$dark_shadow: #000;
$light_shadow: #eff1f5;

// white and black
$black: #000;
$white: #fff;

// misc colors used by gtk+
$info_fg_color: #eff1f5;
$info_bg_color: #343d46;
$warning_fg_color: #eff1f5;
$warning_bg_color: #343d46;
$question_fg_color: #eff1f5;
$question_bg_color: #343d46;
$error_fg_color: #eff1f5;
$error_bg_color: #343d46;
$link_color: #8fa1b3;
$success_color: #a3be8c;
$warning_color: #ef6c00;
$error_color: #ebcb8b;

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_color: $dark_bg_color;
$titlebar_fg_color: $dark_fg_color;

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, 0.8);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg: $titlebar_bg_color;
$wm_border_focused: transparent;
$wm_border_unfocused: transparent;
$wm_title_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_title_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

// widget styles
$roundness: 2px;
$spacing: 5px;
$gradient: 0;
$contrast: .8;
